<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--<link rel="stylesheet" href="bulma/css/bulma.css">-->
		<!--<link rel="stylesheet" href="{% static "bulma/bulma.css" %}">-->
		<link rel="stylesheet" href="../../static/css/guess_who.css">
		<link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
		<script src="http://code.jquery.com/jquery.js"></script>
	    <script src=../../static/bootstrap/js/bootstrap.min.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<title>Upload photo</title>
	  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet"> -->
	</head>
<body>
	<div class="jumbotron text-center">
		<div class="container">
			<div class=page-header">
				<h1>
					<img src="../../static/guesswho_app/Guess_who_logo.png" alt="Guess_who_logo" width="200" height="40">		
						<b><font size="4">by</font></b>
					<img src="../../static/guesswho_app/Logo_datasciencelab.png" alt="DSL_logo">
				</h1>
			</div>
   		</div>
	</div>
	<div>
	<div>
		<h2>
	  		<p><b>Succesfull upload!</b></p>
	  	</h2>
	  	
   <div class="progress center-block" style="width:200px;">
  	<div class=progress style="width: 100%">
  		<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
  			aria-valuenow="40" aria-valuemin="0" aria-valuemax="60" style="width:100%">
    		100% Complete (success)
  		</div>
  	</div>
  </div>

  		
	</div>

	<p>Ready to play the game?!</p>
				<button class=button>
				  Let's Play!
				</button>
			  <p>or upload another photo</p>
			<a href="/post" class="button is-primary" >
			  upload!
			</a>
	</div>
		  
	

<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://www.datasciencelab.nl/"> datasciencelab.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</body>