
#spacer-top {
    min-height: 40px;
}

div.container {
    width: 90%;
}

select {
    width: 150px;
}
.feature-dropdown {
    width: 150px;
}

img#image {
    height: 200px;
}

._dash-undo-redo {
    display: none;
}