
body {
    background-color: white;
    color: black;
}

input, div.Select, div.Select-input, div.Select-placeholder, div.Select-menu-outer {
    #background-color: grey;
    color: black;
}

#input-character-select {
    min-width: 200px;
}

/*wie is het logos*/
img.header-logo-modal {
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

#intro-modal-content > img
{
    margin-top:50px;
/*    margin-bottom: 20px;*/
    height: 25%;
    width: 40%;
    margin-left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
/*wie is het logo op board*/
#level1-column1 > img{
    margin-top:8%;
    margin-bottom: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70%;
    width: 70%;
}
/*DSL log*/
#level1-column3 > img{
    margin-top:8%;
    margin-left: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


div.character-board {
/*    width: 800px;
    height: 100px;*/
    /*margin: 4px;*/
}
div.character-board div.panel-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*padding: 6px;*/
    color: white;
}

img {
    border-radius: 5%;
}

div.panel > p.panel-heading {
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: bold;

}

#computer-progress {
    margin-bottom: 0rem;
}

div.character-board label.label { color: white; }

figure.character-container {
    display: inline-block;
}

figcaption.character-caption {
    font-size: 50%;
    color: white;
    margin-top: 1px;
}

img.character-image {
    border: 2px solid white;
    /*margin: 2px;*/
    width: 60px;
    height: 75px;
}

div.modal button {
    margin-top: 30px;
    margin-bottom: 30px;
}

div#output-question-answer {
    font-size: 200%;
}

div#spacer {
    min-height: 100px;
    height: 100px;
}

._dash-undo-redo {
    display: none;
}

#panel-computer-board{
    margin-bottom: 0px;
}

#panel-computer-board .panel-block {
    background-color: rgb(222, 31, 63);
}

#panel-player-board .panel-block {
    background-color: rgb(31, 147, 222);
}

/*#question-board-question{
    width: 100%;
    height: 10%;
/*    margin-left: 20%*/
#question-board-character{
    margin-top: 5%;
    width: 75%;
    height: 10%;
    margin-bottom: : 5%;
/*    margin-left: 20%*/
}

#intro-modal-button {
    margin-left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /*background-color: rgb(31, 147, 222);*/
}
#spelregels-modal-button{
    margin-left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-top: 10%;
}

#output-selected-character{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 20%;
    height: 30%;
}
#column3 > img
{
    height: 60px;
    margin-top:40px;
    margin-bottom: 30px; 
}
#column2{
    margin-top: 2%
}

#waiting-modal > div.modal-content > div > div{
    font-size: large;
    height: 75%;
    width: 75%;
    margin-left: 25%;
}
#waiting-modal-button{
    height: 25%;
    width: 25%;
    margin-left: 25%;
}

#spelregels-modal-content > ul{

  list-style: none;
  text-align: center;
  list-style-position: inside;
  font-size: large;
}
#input-endturn-button{
    margin-top: 5%;
    margin-left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#level2-column3{
    margin-top: auto;
}
/*#question-board-character{
    margin-left: 20%
}*/

progress.progress {
    border: 1px solid white;
}

#feedback-modal > div.modal-content > div > div{
    font-size: large;
    height: 75%;
    width: 75%;
    margin-left: 25%;
}

#box-anwser{
    height: 5%;
}

#output-question-answer{
    margin: 0 auto;
    list-style: none;
    text-align: center;
    list-style-position: inside;
    font-size: small;
    color: #4CAF50;
}

/*player*/
#level2-column3{
    width: 40%;
    margin-left: 10%;
}

#tile1_column1 > div > div{
    height: 5%;
}

#level1-computer-board{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
#question-board-question{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#level2-player-board{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
#input-guess-button{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
#column3 > div.box{
    margin-top:50%;
    margin-bottom: 0px;
}
#output-selected-character-speler{
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 60%;
}