
body {
    background-color: white;
    color: black;
}

input, div.Select, div.Select-input, div.Select-placeholder, div.Select-menu-outer {
    #background-color: grey;
    color: black;
}

#input-character-select {
    min-width: 200px;
}

img#output-selected-character {
    width: 70px;
    height: 70px;
}

img.header-logo {
    height: 60px;
    margin-top:40px;
    margin-bottom: 0px;
    margin-left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}


div.character-board {
/*    width: 800px;
    height: 100px;*/
    margin: 4px;
}
div.character-board div.panel-block {
    padding: 6px;
    /*background-color: rgb(31, 181, 98);*/
    color: white;
}

div.panel > p.panel-heading {
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: bold;

}

div.character-board label.label { color: white; }

figure.character-container {
    display: inline-block;
}

figcaption.character-caption {
    font-size: 80%;
    color: white;
    margin-top: -10px;
}

img.character-image {
    border: 2px solid white;
    margin: 4px;
    width: 75px;
    height: 75px;
}

div.modal button {
    margin-top: 20px;
}

div#output-question-answer {
    font-size: 200%;
}

div#spacer {
    min-height: 100px;
    height: 100px;
}

._dash-undo-redo {
    display: none;
}

#panel-computer-board{
    background-color: rgb(222, 31, 63);
    width: 65%;
    height: 25%;
    margin-left: 20%
}

#panel-player-board{
    background-color: rgb(31, 147, 222);
    width: 65%;
    height: 25%;
    margin-left: 20%
}
#question-board-question{
    margin-top: 30px;
    width: 75%;
    height: 10%;
    margin-left: 20%
}
#question-board-character{
    margin-top: 30px;
    width: 75%;
    height: 10%;
    margin-left: 20%
}