
body {
    background-color: white;
    color: black;
}

input, div.Select, div.Select-input, div.Select-placeholder, div.Select-menu-outer {
    #background-color: grey;
    color: black;
}

#input-character-select {
    min-width: 200px;
}

img#output-selected-character {
    width: 70px;
    height: 70px;
}

img.header-logo {
    height: 60px;
    margin-top:20px;
    margin-bottom: 0px;
}


div.character-board {
    margin: 4px;
}
div.character-board div.panel-block {
    padding: 6px;
    background-color: rgb(31, 181, 98);
    color: white;
}

div.panel > p.panel-heading {
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: bold;
}

div.character-board label.label { color: white; }

figure.character-container {
    display: inline-block;
}

figcaption.character-caption {
    font-size: 80%;
    color: white;
    margin-top: -10px;
}

img.character-image {
    border: 2px solid white;
    margin: 4px;
    width: 50px;
    height: 50px;
}

div.modal button {
    margin-top: 20px;
}

div#output-question-answer {
    font-size: 200%;
}

div#spacer {
    min-height: 100px;
    height: 100px;
}

._dash-undo-redo {
    display: none;
}